html, body{
    
 font-family:lato;
 font-size: 16px;
    
}

body.pdf_template .explainerText{
  width: 800px;
}
body.pdf_template .navbar-default{
  background: none !important;
  border-bottom: 1px solid #666;
}
body.pdf_template h1 a{
  color: #333;
}
body.pdf_template section img{
  width: 800px;
}
/************ open HEADER ***********/

/*#header{
    
    margin-top: 50px;
    position: fixed;
    width: 100%;
    z-index:20;
}*/


#header{
    top: 70px;
    position: fixed;
    width: 100%;
    z-index:20;   
    
}




/*h1 for the website */
#sem{
    
    height:65px;
    float:none;

}

/*#sem{
    
    height:75px;
    width:100%;
    background-color:#333;   
}*/


h1{
    
    color: #ffffff;
    font-family: Lato;
    font-size: 36px;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;   
    margin:0px;
    padding-top:15px;
 
}

h1 a{
 color:#fff;   
    
}


h1 a:hover{
 color:#00a6d2;   
    text-decoration: none;
    
}



#logo {
   display: inline-block;
    float: left;
    height: 55px;
    margin-top: 11px;
}

#smallLogo{
    
 display:none;   
}

.navbar-default {
    
 background-color:#333;   
border:none;
}

.navbar{
    
    min-height: 70px;   
}




#menu{
 
    height: 40px;
    background-color: #222222;
    width:100%;
 
}

nav #menu{
     height: 40px;   
    list-style: none;
    text-align: center;
    margin:0px;
    padding: 0px;
    
}


nav ul li{
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    height:40px;
    margin:0px;
    padding-top:10px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
width:18%;
}


#menu a{
 color:#fff;   
    
}

nav #menu li:hover, nav #menu li.hover_effect {
    
    background-color: rgba(0, 166, 210, .8);
   
}

nav #menu a:hover, nav #menu a.hover_effect {
     text-decoration: none;  
}

.active{
  border-bottom-color: #00a6d2;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    
}

.mobile-menu{
 display: none;   
    
}
.show-menu {
    color: #fff;
    display: none;

}
input[type="checkbox"] {
    display: none;
}
/************ end HEADER ***********/



/**** headroom.js that allows the header to appear on scroll up **/

 .slide {
     transition: all 0.25s ease-in-out 0s;
}

.slide--reset {
     transform: translateY(0px);
}

.slide--up {
     transform: translateY(-230%);
}

.animated {
     animation-duration: 0.5s;
     animation-fill-mode: both;
}


/**********/


/*****INDEX INTRO AND IMAGE STYLES*******/
#container{
    margin-left: auto;
    margin-right: auto;
    min-height:100%;
    position: relative;

}

#introText{
  color: #00a6d2;
    margin: 20px auto 30px;
    text-align: center;
    width: 80%;

}

h3{
  font-style: italic;
  font-size:18px;
  color:#555;
  text-transform: none;
  text-align: center;
  padding-right:3%;
  line-height: 1.4;
}

h4{
    font-size: 22px;
    color: #29abe2;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.4;
    margin-top: 60px;
    margin-bottom: 41px;
}

.updated{
 text-align: center;
font-size:14px;
color:#00a6d2;
}



#imageone, #imagethree{
    
    clear: both;
    float: left;
    margin-bottom: 1%;
 
}


#imagetwo, #imagefour{
    
 float:right;
margin-bottom: 1%;
    
}

#imageone, #imagethree, #imagetwo, #imagefour{
  width:48%;  
   
}

#homeImages img{
 width:100%;   
    
}



/* style/placement of the image labels */
#imageone p, #imagethree p, #imagetwo p, #imagefour p{
    
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    position: relative;
    text-align: center;
    top: 140px;
   /* width: 250px;*/
    
}

/*image hover styling */

#imageone:hover, #imagethree:hover, #imagetwo:hover, #imagefour:hover{

    opacity: .6;
}

.frontpage{

       background-image: url("../images/blur.jpg");
    background-repeat: repeat;
 height:100%;
     width:100%;
    margin-top: 110px;
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}

.frontpage .container{
 background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 5px 2px 15px #888;
    height: auto;
    left: 50%;
    margin-left: -220px;
    margin-top: 90px;
    padding: 50px 15px 30px;
    position: absolute;
    text-align: left;
    top: 10%;
    width: 450px;
    
}

/********** INTRO ***********/

    .section100 {
        
    margin-top:100px;   
    
}

    #intro {
    
   color: #777777;
    font-size: 22px;
    font-style: italic;
    margin-top:0;
    margin-bottom:50px;
        margin-left: auto;
        margin-right: auto;
    text-align: center;
    width: 65%;


}



.introSectionText{
 color: #555555;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    width: 75%; 
    
}


.grey {
    color: #000000;
    font-size: 13px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    top: 15px;
    
}


/**********  end INTRO ***********/

    .section50 {
        margin-top:50px;   
    
}

    .section10 {
        margin-top:10px;   
    
}

.section25{
    
     margin-top:25px;   
      
}

.section170{
padding-top:170px;   
    
}

    .section150 {
        
    margin-top:150px;   
    
}


.sectionfooter{
    margin-top: 20px;
    min-height: 100%;
    padding-bottom: 90px;
 
    
}


/*.section170{
padding-top:230px;   
    
}*/

h2{

    font-size: 28px;
    padding: 0px;
    margin:0px;
    font-weight: 300; 
    text-align: center;
    text-transform: uppercase;
}


hr{
margin-top:10px;
margin-bottom:10px;   
border-top:2px solid #eee;
    
}



.subhead{
    
 font-size: 15px;
    font-style: italic;
    font-weight:400;
}


.explainerText{
 font-size:16px;   
 font-weight:400;
line-height: 1.5;
margin:10px auto;
    width:75%;

}

/********** secondary MENU ***********/


    #secondarymenu{
        
    height:355px;
    width:100%;
    margin:0 auto;

}

    .visuals{
    background-color: #999999;
    height: 240px;
    margin-bottom: 4%;
    width: 43%;
    }


    .left{
     margin-left: 5%;
    float:left;
    }


    .right{
     margin-right: 5%;  
     float:right;  
        
    }


/*********************** close secondary MENU ***************/






/*******ARCHIVE **********/

li{
 list-style: none;
    
}

.archiveYear{
font-size: 22px;
padding-top:25px;
    padding-bottom:10px;

}

.archiveCategory{
     color: #555555;
    font-size: 15px;
    text-transform: uppercase;   
    
}

.archiveMonth a{
 font-size:18px;
 font-weight:700;
    color:#00a6d2;
    
}


.archiveText{

   margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    width: 80%;

    
}


/********** FOOTER ***********/

.shortpages{
 position: absolute;
    bottom:0px;
    width:100%;
    
}
footer{
   background-color: #000;
    bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;
margin-top:75px;
    width: 100%;
    position: relative;
   
}


footer img{
  
  float:left;
    width:auto;
}

footer p{
 float:right; 
  color:#fff;
    margin-top:40px;
font-weight:300;

    

}

footer a{
    
 color:#00a6d2;   
}

footer a:hover{
   color:#fff; 
 text-decoration: none;
    
}

.nomargin{
 margin-top: 0px;   
    
}



/********** CLOSE FOOTER ***********/




/*Container for all figures*/
.figure-container{
  display: block;
  overflow: auto;
}

/*Styles for source annotations*/
.historical-source, .note{
  font: 9pt Lato;
  position: relative;
  float: right;
  font-weight: 400;
  color:#555;
}

.label{
     font-size: 12px;
    font-weight: 400;   
    
}

/*data download button */
.download a{
     background-attachment: scroll;
    background-clip: border-box;
    background-color: #00a6d2;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    font-weight: 500;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    text-align: center;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
    width: 155px;
}


.download :hover {
  background: #00578b;
  text-decoration: none;
}

.download a{
 color:#fff;  
      text-decoration: none;
}

.download {

        margin-bottom: 50px;
    margin-top: 20px;
    
}


/*Tooltips for both figure types*/

.tooltip-container {
  height: 80px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 0;}


.tooltip-container.scatter{
  margin-bottom: 5px;
}
.tooltip-title{
  font-family: Lato;
  font-size: 13px;
  color: #000;
  font-weight: 400;
}
.tooltip-data{
  font-family: Lato;
  font-size: 20px;
  color: #29abe2;
  font-weight: 400;
}

.tooltip-usa-average{

   color: #555555;
    font-size: 13px;
    margin-top: 5px;

}

/*    color: #777777;
    font-size: 16px;
    margin-top: 9px;*/
.zoomText{
  font-style: italic;
  margin-bottom: 4px;
  color: #666;
}
.region-text, .quarter-text{
  float: left;
  margin-right: 30px;
}
.value-text{
  margin-left: 30px;
  float: left;
}
.value-text .tooltip-data{
  margin-top: 5px;
}
.value-text.y{
  margin-right: 0px !important;
}
.year-text{
  float: left;
}

.hidden{
  display: none;
} 

/******** Scatter Plot styles *********/
.plot-legend{
  position: relative;
  width:100%;
  height: 50px;
  top: 50px;
  font: 10pt Lato;
}

.South{ fill: #8a8a8a;}
.Northeast{ fill: #00a6d2;}
.Midwest{ fill:  #ec008c;}
.West{ fill: #00578b;}
.USA{ fill: #000000;}

.dot-line{
  stroke: #b3b3b3;
  /*shape-rendering: crispEdges;*/
}

.x.axis.scatter path{
  display: none;
}
.scatter-baseline{
  stroke: #000;
  /*shape-rendering: crispEdges;*/
}

.scatter-grid{
  stroke: #b3b3b3 !important;
}

.plot-container{
 margin-top:5px;   
    
}

/******** Map styles *********/

/*title*/
[id^=usa-text]{
  padding: 2px;
}

.text-highlight{
  background: #fdbf11;
}

.title-subtitle{
  font: 14px;
  font-style: italic;
  font-weight: 400;
  margin-top: 8px;

}

.title-text{
  margin-top: 15px;
  font: 22px Lato;
  font-weight: 700;
}
.title-unit{
  font: 14px Lato;
  font-weight: 300;
    padding-left:10px;
    
}

/*Map graphic containers*/
.map-container{
  width: 80%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    height:auto;
}


/*Map Legend*/
.legend-labels{
  font-family: 'Lato';  
  font-weight: 700;
  font-size: 12px;
}

/*Map*/

#map-states{
    
 width:90%;   
}

.counties {
  fill: none;
}

.hover, .click{
  fill: #fdbf11 !important;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.demphasized{
  fill: #cfcfcf !important;
}

.q0-4 { fill:#b0d5f1; }
.q1-4 { fill:#82c4e9; }
.q2-4 { fill:#1696d2; }
.q3-4 { fill:#00578b; }
.q4-4 { fill:#061b5a; }

rect.no-data, .states.no-data{ fill: #eeeeee;}

/*Bar Chart*/
.usa-bar, .dot.USA{
  fill: #000;
   /*fill: #fdbf11;*/
}

.usa-bar:hover {
fill:  #fdbf11; 
    
}
.usa-tick{
  font-weight: 800;
}
rect.states{
  stroke: none;
}

.axis {
  font: 10px Lato;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  /*shape-rendering: crispEdges;*/
}

.nullTick{
  fill: #e6e7e8;
}

.y.axis path {
  display: none;
}

.grid-line{
  stroke: #cccccc;
}
/*this is keeping the index page secondary menu labels in the center*/
@media (min-width:768px) and (max-width:1000px){
 #imageone p, #imagethree p, #imagetwo p, #imagefour p{ top:100px;}   
    
}
@media (max-width:985px) {
    
 footer img{ width:46%;}

footer p{width:45%;}   
    
}

@media (max-width: 768px) {



#fullLogo {
    display: none;
}
    
    #largeLogo{
     display:none;   
        
    }
    
#smallLogo {
    display: none;
}
    
    #header{
 position:absolute;
    }
  /* .navbar-default{background-color: #222222;}*/
 
    nav{

     bottom:0px;
    height:55px;
  
    }
    
    /*  
    
 nav ul{
   height: 55px; 
   margin-left: -15px;
    margin-right: -15px;
      
  }
    
nav ul li{
    
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    padding-top:20px;
     padding-bottom: 30px;
width:18%;
}*/
    .show-menu {
    bottom: 0;
    display: block;
    margin: 0;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    background: #0096d2 none repeat scroll 0 0;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
    
  
    
    ul#menu {
    display: none;

}
    

    
input[type="checkbox"]:checked ~ #menu {
   bottom: 60px;
    display: block;
    height: 350px;
    position: fixed;
    overflow: auto;
    text-decoration: none;
  
}

    
   label:hover, label:active, input:hover+label, input:active+label, .show-menu p:hover, .show-menu p:active {   
    cursor: pointer;
    background-color:#333;

        
    }
    
 
    
 .show-menu p{
    
      border-radius: 8px;
    font-size: 16px;
    line-height: 1.5;
    margin:0 auto;
    padding: 8px;
    width: 95px;
     border: 1px solid #fff;
}

    
    nav #menu{
     height: 280px;   
        
    }
    nav #menu li {
    display: block;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    margin: 0;
    padding: 15px 0 15px 0px;
    width: 100%;
       text-decoration: none;
    border-top:solid 1px #333;
}
    

    
    .active{
     border-bottom: none;
     border-top: solid #00a6d2 4px;
        
    }
    
    

    
  .mobile h1 {
    font-size: 18pt;
    padding-top: 23px;
  }
    
    
 .container{
 width:95%;     
}
    
   #introText{
    margin-bottom:0px;
    margin-top:0px;
       
   }
    /*this is the explaination below the page title and before the figures. This reduced the white space above and below the text*/
.introSectionText {
    margin-bottom: 25px;
    margin-top: 0;

}

#imageone, #imagethree, #imagetwo, #imagefour {
    float: none;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 80%;
}
    
  #imageone p, #imagethree p, #imagetwo p, #imagefour p{ top:140px;}      

    
/*did this b/c i was seeing scroll bars around the figures */
.figure-container{
  overflow: hidden;    
}
  

    
.explainerText {
    margin-top: 20px;
    width: 100%;
}

 
.map-source {
 width:auto;  
right:0%;
    
}

.tooltip-container {
    height: 70px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 15px;
    padding-top: 15px;
}

    

    #figure_unemployment_tooltip, #figure_nonfarm-employment_tooltip, #figure_wages_tooltip, #figure_wages-change_tooltip, #figure_house-prices_tooltip, #figure_total-taxes_tooltip,  #figure_sales-taxes_tooltip, #figure_income-taxes_tooltip, #figure_corporate-taxes_tooltip{
        
       border-bottom-color: #e1e1e1;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: #e1e1e1;
    border-top-style: solid;
    border-top-width: 1px;
    margin-top: 10px;
        margin-bottom: 10px;     
}

.mobile [id$=_plot], #figure_unemployment_tooltip, #figure_nonfarm-employment_tooltip, #figure_wages_tooltip, #figure_wages-change_tooltip, #figure_house-prices_tooltip, #figure_total-taxes_tooltip,  #figure_sales-taxes_tooltip, #figure_income-taxes_tooltip, #figure_corporate-taxes_tooltip{
    
  border-bottom-color: #e1e1e1;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-color: #e1e1e1;
  border-top-style: solid;
  border-top-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;     

    
}

.mobile [id$=_plot]{
  margin-top: 51px;
  height: 25px;
  clear: both;
  text-align: center;
  font-style: italic;
}

.mobile .loading, .mobile .download, .mobile .refresh, .tooltip-title{
  display: none;
}
.mobile .container{
  position: relative;
}
.mobile .value-text .tooltip-data{
  position: absolute;
  right: 15px;
  top: 133px;
  font-size: 50px;
  color: #333;
  text-decoration: underline;
}
.mobile .region-text, .mobile .value-text{
  width: 100%;
  float: left;
}
.mobile .year-text, .mobile .quarter-text{
  width: 20%;
  float: left;
  display: inline-block;
}
.mobile .historical-source{
  bottom: 10px;
}
.mobile hr{
  width: 80%
}
.section170 {
    padding-top: 120px;
}

    
.section100 {
    margin-top: 20px;
}
    
.map-container{
  width: 100%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height:auto;
}
  
    
.slide {
     transition: none;
}

.slide--reset {
     transform:none;
}

.slide--up {
   transform:none;
}

.animated {
     animation-duration: 0.5s;
     animation-fill-mode: both;
}

footer{   
height:80px;
margin-top:15px;   
margin-bottom:50px;
    background-color: #ffffff;
}
    
footer p { color:#000000; margin-top:15px; margin-left:5px; width:100%;}
    footer img{ display:none;}
    
    .archiveMonth{ margin-bottom:20px;}
    .sectionfooter { padding-bottom:50px;}
    .shortpages {position: relative;}

}


@media (max-width: 475px) {
    
.container {width: 100%;}    
 .mobile h1{font-size:17px; text-align: left; padding-top:25px;}
   #menu ul li{font-size:13px;}
h3{font-size:17px;}  
    #imageone p, #imagethree p, #imagetwo p, #imagefour p{ top:80px;}   
    
    .section170{ padding-top:90px;   }
    .sectionfooter { padding-bottom:30px;}
    .shortpages {position: relative;}
    footer{ height:95px;margin-bottom:50px;}
    footer p{margin-top:5px;}

}

/********PRINT STYLES **********/

@media print {

    
body {
    width:100%;
    margin-left: 0cm;
    margin-right:0cm;
line-height: 1.3;
text-align: left;
}

#header, #menu, .grey, footer, img, .download{ display:none;   }

.section170 {padding-top:20px;}

.section100 {margin-top: 40px;}
.introSectionText{margin-bottom: 0px;}
    


@page {
margin-top: 1.5cm;
    margin-bottom: 2cm;
}

    .plot-source , .map-source { font-size:11px; width:80%; margin-top:15px; margin-bottom: 10px;}
    

}
.custom-note{
 font-size: 12px;
    margin-bottom: 10px;
    margin-top: 20px;
}

/********SMALL SCREEN STYLES **********/
.small_screen .x.axis .tick text{
  display: none;
}




/********MOBILE STYLES **********/
.mobile a:hover{
  color: #23527c;
}


/*.mobile [id$=_bar-chart], .mobile [id$=_map], .mobile [id$=_plot], .mobile .region-text, .mobile .value-text, .mobile .quarter-text, .mobile .year-text{*/
  /*display: none;*/
/*}*/

.mobile [id$=_tooltip]{
  height: 25px;
  text-align: center;
  font-style: italic;
}

.scatter .value-text{
  display: block !important;
}

/*.scatter .region-text{
  display: block !important;
}
*/



.mobile-state, .mobile-usa{
  /*width: 300px;*/
  margin-right: auto;
  margin-left: auto;
}

.mobile-state{
  height: 82px;
  margin-top: 20px;
}
.mobile-usa{
  margin-top: -42px;
}
.mobile-state .label, .mobile-usa .label{
  width: 10%;
  margin-right: 12px;
  font: 12pt Lato;
  color: #000;
  position: relative;
  left: 80px;
  top: 29px;
}

.mobile-state .amount, .mobile-usa .amount{
  position: relative;
  top: -34px;
}

.mobile-state .bar, .mobile-usa .bar{
  fill: #29abe2;
}

.mobile-usa .bar{
  fill: #fdbf11;
}

.mobile-axis{
  stroke: #000;
}

.mobile .tooltip-container.scatter.UNEMPvUNEMPChg, .mobile .tooltip-container.scatter.EMPvGOVT{
  width: 150px !important;

}

.mobile .tooltip-container.scatter.HPChgYrvHPChgPeak{
  width: 180px !important;
}



select{
   display: block;
   border-radius: none !important;
   width: 290px;
   height: 34px;
   font-size: 16px;
   border: none;
   margin-top: 5px;
   margin-bottom: 5px;
   margin-right: auto;
   margin-left: auto;
   font: 20pt Lato;
   font-weight: 400;
   color: #29abe2;
}

select:focus{
  outline: none;
}

option{
  font: 12pt Lato;
}



#figure_unemployment_mobile-select, #figure_nonfarm-employment_mobile-select, #figure_wages_mobile-select, #figure_wages-change_mobile-select, #figure_house-prices_mobile-select, #figure_total-taxes_mobile-select,  #figure_sales-taxes_mobile-select, #figure_income-taxes_mobile-select, #figure_corporate-taxes_mobile-select {
padding-top:20px;
    
}


#figure_unemployment_mobile-bar, #figure_nonfarm-employment_mobile-bar, #figure_wages_mobile-bar, #figure_wages-change_mobile-bar, #figure_house-prices_mobile-bar, #figure_total-taxes_mobile-bar, #figure_sales-taxes_mobile-bar, #figure_income-taxes_mobile-bar, #figure_corporate-taxes_mobile-bar{
 height:115px;
    
}





/** NEW HISTORICAL CSSSSSSS **/

/*.axis path,
.axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}*/

/*.axis--y path {
  display: none;
}*/

.states {
  fill: none;
  stroke: #ccc;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1px;
}

.state--hover {
  stroke: #fdbf11;
  stroke-width: 2.5px;
}
.lineBG{
  /*display: none;*/
  /*fill: none;*/
  stroke: #fff2cf;
  stroke-width: 5px;
}
.marker{
  fill: #fdbf11;
}
.usaMarker{
  fill: #333;
}

#USA{
  stroke: #333;
  stroke-width: 2.5px;
}

.focus text {
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.voronoi path {
  fill: none;
  pointer-events: all;
}

/*.voronoi--show path {
  stroke: red;
  stroke-opastate: .2;
}
*/
#form {
  position: absolute;
  top: 20px;
  right: 30px;
}


.historical_state, .historical_month, .historical_year, .historical_quarter{
  font-size: 20px;
  display: block;
  border-radius: none !important;
  height: 26px;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: -8px;
  font-weight: 400;
  color: #29abe2;
}
.historical_state{
  width: 216px;
}
.historical_month, .historical_quarter{
  width: 142px;
}
.historical_year{
  width: 92px;
}
.refresh{
  background-repeat: no-repeat;
  background-image: url(http://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
  background-position: 0 -1519px;
  height: 35px;
  width: 45px;
  float: right;
  margin-top: 1px;
  margin-left: 14px;
  cursor: pointer;
}
.refresh:hover{
  background-position: 0 -1751px;
}
.tooltip-container{
  width: 645px;
}

.loading{
  position: absolute;
  z-index: 10;
  background: #fff;
  margin-top: -120px;
  pointer-events: none;
}
.loading img{
  margin: 0 auto;
  display: block;
  width: 50px;
}

.linePlot{
  width: 100%;
}