svg text{
	font-family: Lato;
}
/**********************************************************************/
/************************* BOTH CHARTS ********************************/
/**********************************************************************/
.line.axis text{

}
.axis path{
	display: none;
}
.axis line{
	stroke: #dedddd;
}

/**********************************************************************/
/************************** BAR CHART *********************************/
/**********************************************************************/
rect.bar{
	fill: #1696d2;
	stroke: none;
}

/**********************************************************************/
/************************* LINE CHART *********************************/
/**********************************************************************/
.state.line{
	stroke: #1696d2;
	stroke-width: 2px;
	fill: none;
}
.US.state.line{
	stroke: #9D9D9D;
}
.voronoi path {
  fill: none;
  stroke: none;
  pointer-events: all;
}
