html, body{
    
 font-family:lato;
 font-size: 16px;

    
}


/************ open HEADER ***********/

/*#header{
    
    margin-top: 50px;
    position: fixed;
    width: 100%;
    z-index:20;
}*/


#header{
   margin-top: 70px;
    position: fixed;
    width: 100%;
    z-index:20;   
    
}




/*h1 for the website */
#sem{
    
    height:65px;
    float:none;

}

/*#sem{
    
    height:75px;
    width:100%;
    background-color:#333;   
}*/


h1{
    
    color: #ffffff;
    font-family: Lato;
    font-size: 36px;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;   
    margin:0px;
    padding-top:15px;
 
}

h1 a{
 color:#fff;   
    
}


h1 a:hover{
 color:#00a6d2;   
    text-decoration: none;
    
}



#logo {
   display: inline-block;
    float: left;
    height: 55px;
    margin-top: 11px;
}


.navbar-default {
    
 background-color:#333;   
border:none;
}

.navbar{
    
    min-height: 70px;   
}




#menu{
 
    height: 40px;
    background-color: #222222;
    width:100%;
 
}

#menu ul{
     height: 40px;   
    list-style: none;
    text-align: center;
    margin:0px;
    padding: 0px;
    
}


#menu ul li{
    
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    height:40px;
    margin:0px;
    padding-top:10px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
width:22%;
}


#menu a{
 color:#fff;   
    
}

#menu ul li:hover{
    
    background-color: rgba(0, 166, 210, .8);
}

.active{
  border-bottom-color: #00a6d2;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    
}
/************ end HEADER ***********/



/**** headroom.js that allows the header to appear on scroll up **/

 .slide {
     transition: all 0.25s ease-in-out 0s;
}

.slide--reset {
     transform: translateY(0px);
}

.slide--up {
     transform: translateY(-230%);
}

.animated {
     animation-duration: 0.5s;
     animation-fill-mode: both;
}


/**********/


/*****INDEX INTRO AND IMAGE STYLES*******/
#container{
    margin-left: auto;
    margin-right: auto;
    min-height:100%;
    position: relative;

}

#introText{
  margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    width: 80%;
}

h3{
 font-style: italic;
font-size:20px;
 color:#00a6d2;
text-transform: none;
    text-align: center;
    padding-right:3%;
    line-height: 1.4;
}


.updated{
 text-align: center;
font-size:14px;
    color:#555;
}



#imageone, #imagethree{
    
    clear: both;
    float: left;
    margin-bottom: 1%;
 
}


#imagetwo, #imagefour{
    
 float:right;
margin-bottom: 1%;
    
}

#imageone, #imagethree, #imagetwo, #imagefour{
  width:48%;  
   
}

#homeImages img{
 width:100%;   
    
}



/* style/placement of the image labels */
#imageone p, #imagethree p, #imagetwo p, #imagefour p{
    
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    position: relative;
    text-align: center;
    top: 150px;
    width: 250px;
    
}

/*image hover styling */

#imageone:hover, #imagethree:hover, #imagetwo:hover, #imagefour:hover{

    opacity: .6;
}



/********** INTRO ***********/

    .section100 {
        
    margin-top:100px;   
    
}

    #intro {
    
   color: #777777;
    font-size: 22px;
    font-style: italic;
    margin-top:0;
    margin-bottom:50px;
        margin-left: auto;
        margin-right: auto;
    text-align: center;
    width: 65%;


}



.introSectionText{
 color: #555555;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    width: 75%; 
    
}


.grey {
    color: #000000;
    font-size: 13px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    top: 15px;
    
}


/**********  end INTRO ***********/

    .section50 {
        margin-top:50px;   
    
}

    .section10 {
        margin-top:10px;   
    
}

.section25{
    
     margin-top:25px;   
      
}

.section170{
padding-top:170px;   
    
}

    .section150 {
        
    margin-top:150px;   
    
}


.sectionfooter{
    margin-top: 20px;
    min-height: 100%;
    padding-bottom: 90px;
 
    
}


/*.section170{
padding-top:230px;   
    
}*/

h2{

    font-size: 28px;
    padding: 0px;
    margin:0px;
    font-weight: 300; 
    text-align: center;
    text-transform: uppercase;
}


hr{
margin-top:10px;
margin-bottom:10px;   
border-top:2px solid #eee;
    
}



.subhead{
    
 font-size: 15px;
    font-style: italic;
    font-weight:400;
}


.explainerText{
 font-size:16px;   
 font-weight:400;
line-height: 1.5;
margin:10px auto;
    width:75%;

}

.note{
    
 font-size:14px;
 
    
}

/********** secondary MENU ***********/


    #secondarymenu{
        
    height:355px;
    width:100%;
    margin:0 auto;

}

    .visuals{
    background-color: #999999;
    height: 240px;
    margin-bottom: 4%;
    width: 43%;
    }


    .left{
     margin-left: 5%;
    float:left;
    }


    .right{
     margin-right: 5%;  
     float:right;  
        
    }


/*********************** close secondary MENU ***************/






/*******ARCHIVE **********/

li{
 list-style: none;
    
}

.archiveYear{
font-size: 22px;
padding-top:25px;
    padding-bottom:10px;

}

.archiveCategory{
     color: #555555;
    font-size: 15px;
    text-transform: uppercase;   
    
}

.archiveMonth a{
 font-size:18px;
 font-weight:700;
    color:#00a6d2;
    
}


.archiveText{

   margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    width: 80%;

    
}


/********** FOOTER ***********/

.shortpages{
 position: absolute;
    bottom:0px;
    width:100%;
    
}
footer{
 margin-top: 75px;
 margin-bottom: 0px;
    padding-bottom:10px;
       padding-top:10px;
    background-color:#000;
 
    
}


footer img{
  
  float:left;
}

footer p{
 float:right; 
  color:#fff;
    margin-top:40px;
font-weight:300;
  
}

footer a{
    
 color:#00a6d2;   
}

footer a:hover{
   color:#fff; 
 text-decoration: none;
    
}

/********** CLOSE FOOTER ***********/




/*Container for all figures*/
.figure-container{
  display: block;
  overflow: auto;
}

/*Styles for source annotations*/
.map-source, .plot-source{
  font: 9pt Lato;
  position: relative;
  float: right;
  font-weight: 400;
  color:#555;
}

.map-source{
  bottom: 0px;
  right: 10%;
  width: 34%;
}

.plot-source{
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
}

.label{
     font-size: 12px;
    font-weight: 400;   
    
}

/*data download button */
.download a{
     background-attachment: scroll;
    background-clip: border-box;
    background-color: #00a6d2;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    font-weight: 500;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    text-align: center;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
    width: 155px;
}


.download :hover {
  background: #00578b;
  text-decoration: none;
}

.download a{
 color:#fff;  
      text-decoration: none;
}

.download {

        margin-bottom: 50px;
    margin-top: 20px;
    
}


/*Tooltips for both figure types*/

.tooltip-container {
  height: 80px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 0;}


.tooltip-container.scatter{
	margin-bottom: 5px;
}
.tooltip-title{
	font-family: Lato;
	font-size: 13px;
	color: #000;
	font-weight: 400;
}
.tooltip-data{
	font-family: Lato;
	font-size: 20px;
	color: #29abe2;
	font-weight: 400;
}

.tooltip-usa-average{

   color: #555555;
    font-size: 13px;
    margin-top: 5px;

}

/*    color: #777777;
    font-size: 16px;
    margin-top: 9px;*/

.region-text, .value-text, .quarter-text{
	float: left;
	margin-right: 30px;
}


.value-text.y{
	margin-right: 0px !important;
}
.year-text{
	float: left;
}

.hidden{
	display: none;
} 

/******** Scatter Plot styles *********/
.plot-legend{
	position: relative;
	width:100%;
	height: 50px;
	top: 50px;
	font: 10pt Lato;
}

.South{ fill: #8a8a8a;}
.Northeast{ fill: #00a6d2;}
.Midwest{ fill:  #ec008c;}
.West{ fill: #00578b;}
.USA{ fill: #000000;}

.dot-line{
  stroke: #b3b3b3;
  shape-rendering: crispEdges;
}

.x.axis.scatter path{
	display: none;
}
.scatter-baseline{
	stroke: #000;
  	shape-rendering: crispEdges;
}

.scatter-grid{
	stroke: #b3b3b3 !important;
}

.plot-container{
 margin-top:5px;   
    
}

/******** Map styles *********/

/*title*/
[id^=usa-text]{
	padding: 2px;
}

.text-highlight{
	background: #fdbf11;
}

.title-subtitle{
	font: 14px;
	font-style: italic;
	font-weight: 400;
	margin-top: 8px;

}

.title-text{
	margin-top: 15px;
	font: 22px Lato;
	font-weight: 700;
}
.title-unit{
	font: 14px Lato;
	font-weight: 300;
    padding-left:10px;
    
}

/*Map graphic containers*/
.map-container{
	width: 80%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    height:auto;
}


/*Map Legend*/
.legend-labels{
	font-family: 'Lato';	
	font-weight: 700;
	font-size: 12px;
}

/*Map*/

#map-states{
    
 width:90%;   
}

.counties {
  fill: none;
}

.hover, .click{
	fill: #fdbf11 !important;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.demphasized{
	fill: #dcdcdc !important;
}

.q0-4 { fill:#b0d5f1; }
.q1-4 { fill:#82c4e9; }
.q2-4 { fill:#1696d2; }
.q3-4 { fill:#00578b; }
.q4-4 { fill:#061b5a; }

.states.no-data{ fill: #e6e7e8;}

/*Bar Chart*/
.usa-bar{
	fill: #c6c6c6;
   /*fill: #fdbf11;*/
}

.usa-bar:hover {
fill:  #fdbf11; 
    
}
.usa-tick{
	font-weight: 800;
}
rect.states{
	stroke: none;
}

.axis {
  font: 10px Lato;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.nullTick{
	fill: #e6e7e8;
}

.y.axis path {
  display: none;
}

.grid-line{
	stroke: #cccccc;
}



@media (max-width: 768px) {

#fullLogo {
    display: none;
}
    
    #largeLogo{
     display:none;   
        
    }
    
#smallLogo {
    display: none;
}
    
    #header{
 position:absolute;
    }
      
    #menu{
    position: fixed;
     bottom:0px;
    height:55px;
    background-color: #333333;
    }
    
  #menu ul{
   height: 55px;   
      
  }
    
#menu ul li{
    
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    padding-top:20px;
     padding-bottom: 30px;
width:24%;
}
    
    .active{
     border-bottom: none;
     border-top: solid #00a6d2 4px;
        
    }
    
  .mobile h1 {
    font-size: 18pt;
    padding-top: 23px;
  }
    
    
    
 .container{
 width:95%;     
}
    
    
    /*this is the explaination below the page title and before the figures. This reduced the white space above and below the text*/
.introSectionText {
    margin-bottom: 25px;
    margin-top: 0;

}
    
    
/*did this b/c i was seeing scroll bars around the figures */
.figure-container{
  overflow: hidden;    
}
  

    
.explainerText {
    margin-top: 20px;
    width: 100%;
}

 
.map-source {
 width:auto;  
right:0%;
    
}

.tooltip-container {
    height: 70px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 15px;
    padding-top: 15px;
}

    
    #figure_unemployment_tooltip, #figure_nonfarm-employment_tooltip, #figure_wages_tooltip, #figure_wages-change_tooltip, #figure_house-prices_tooltip, #figure_total-taxes_tooltip,  #figure_sales-taxes_tooltip, #figure_income-taxes_tooltip, #figure_corporate-taxes_tooltip{
        
       border-bottom-color: #e1e1e1;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: #e1e1e1;
    border-top-style: solid;
    border-top-width: 1px;
    margin-top: 10px;
        margin-bottom: 10px;     
        
        
    }
    
    

 /*in mobile the extra padding above the page title is not needed */   
.section170 {
    padding-top: 120px;
}

    
.section100 {
    margin-top: 20px;
}
    
.map-container{
	width: 100%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height:auto;
}
  
    
.slide {
     transition: none;
}

.slide--reset {
     transform:none;
}

.slide--up {
   transform:none;
}

.animated {
     animation-duration: 0.5s;
     animation-fill-mode: both;
}

footer{   
height:90px;
margin-top:15px;   
margin-bottom:50px;
}
    
    footer p {
        
     margin-top:15px;   
    }

}


@media (max-width: 450px) {
    
.container {width: 100%;}    
 .mobile h1{font-size:14pt;}
   #menu ul li{font-size:14px;}
    

}

/********PRINT STYLES **********/

@media print {

    
body {
    width:100%;
    margin:0;
font-family: "Georgia", "Times New Roman", serif;
line-height: 1.3;
text-align: left;
}

#header, #menu, footer, img, .download{ display:none;   }
    

.explainerText { width:100%;}

.map-container{ margin-left:0px; margin-right:0px; width:700px;}

@page {
margin: 0.5cm;
}

   
    
    svg {
        
     width:100%;   
    }
}

/********SMALL SCREEN STYLES **********/
.small_screen .x.axis .tick text{
  display: none;
}




/********MOBILE STYLES **********/
.mobile [id$=_bar-chart], .mobile [id$=_map], .mobile [id$=_plot], .region-text, .value-text{
  display: none;
}

.scatter .value-text{
  display: block !important;
}

/*.scatter .region-text{
  display: block !important;
}
*/



.mobile-state, .mobile-usa{
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}

.mobile-state{
  height: 82px;
  margin-top: 20px;
}
.mobile-usa{
  margin-top: -42px;
}
.mobile-state .label, .mobile-usa .label{
  width: 10%;
  margin-right: 12px;
  font: 12pt Lato;
  color: #000;
  position: relative;
  left: 80px;
  top: 29px;
}

.mobile-state .amount, .mobile-usa .amount{
  position: relative;
  top: -38px;
}

.mobile-state .bar, .mobile-usa .bar{
  fill: #29abe2;
}

.mobile-usa .bar{
  fill: #fdbf11;
}

.mobile-axis{
  stroke: #000;
}


select{
   display: block;
   background: transparent;
   width: 300px;
   font-size: 16px;
   border: none;
   height: 34px; 
   margin-top: 5px;
   margin-bottom: 5px;
   width: 290px;
   height: 34px;
   border-radius: none !important;
   margin-right: auto;
   margin-left: auto;
   font: 20pt Lato;
   font-weight: 400;
   color: #29abe2;
   /*overflow: hidden;*/
   /*background: url(http://www.stackoverflow.com/favicon.ico) 96% / 20% no-repeat #ddd;*/
}

select:focus{
  outline: none;
}

option{
  font: 12pt Lato;
}



#figure_unemployment_mobile-select, #figure_nonfarm-employment_mobile-select, #figure_wages_mobile-select, #figure_wages-change_mobile-select, #figure_house-prices_mobile-select, #figure_total-taxes_mobile-select,  #figure_sales-taxes_mobile-select, #figure_income-taxes_mobile-select, #figure_corporate-taxes_mobile-select {
padding-top:20px;
    
}


#figure_unemployment_mobile-bar, #figure_nonfarm-employment_mobile-bar, #figure_wages_mobile-bar, #figure_wages-change_mobile-bar, #figure_house-prices_mobile-bar, #figure_total-taxes_mobile-bar, #figure_sales-taxes_mobile-bar, #figure_income-taxes_mobile-bar, #figure_corporate-taxes_mobile-bar{
 height:115px;
    
}

