html, body{
    
 font-family:lato;
    font-weight:300;
    font-size: 16px;
    
}


/************ open HEADER ***********/

#header{
    
    margin-top: 50px;
    position: fixed;
    width: 100%;
    z-index:20;
}


#sem{
    
    height:75px;
    width:100%;
    background-color:#333;   
}


h1{
    
    color: #ffffff;
    font-family: Lato;
    font-size: 36px;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;   
    margin:0px;
    padding-top:15px;
 
}


#menu{
 
    height: 40px;
    background-color: #222222;
    width:100%;
 
}

#menu ul{
     height: 40px;   
    list-style: none;
    text-align: center;
    margin:0px;
    padding: 0px;
    
}


#menu ul li{
    
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    height:40px;
    margin:0px;
    padding-top:10px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
width:22%;
}


#menu a{
 color:#fff;   
    
}

#menu ul li:hover{
    
    background-color: rgba(0, 166, 210, .8);
}

.active{
  border-bottom-color: #00a6d2;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    
}
/************ end HEADER ***********/



/**** headroom.js that allows the header to appear on scroll up **/

 .slide {
     transition: all 0.25s ease-in-out 0s;
}

.slide--reset {
     transform: translateY(0px);
}

.slide--up {
     transform: translateY(-230%);
}

.animated {
     animation-duration: 0.5s;
     animation-fill-mode: both;
}


/**********/


/*****INDEX INTRO AND IMAGE STYLES*******/

#introText{
 margin-top: 70px;     
    margin-bottom: 40px; 
}

h3{
 font-style: italic;
font-size:20px;
 color:#00a6d2;
text-transform: none;
    text-align: center;
    padding-right:3%;
    line-height: 1.4;
}

/*this holds the images in a smaller div than container avoiding making the thumbs huge and thus eating up more depth than they need to 
#homeImages{
    width:71%;
    margin: 0 auto;  
    
}*/



#imageone, #imagethree{
    
    clear: both;
    float: left;
    margin-bottom: 3%;
    
    
}

#imagetwo, #imagefour{
    
 float:right;
margin-bottom: 3%;
    
}

#imageone, #imagethree, #imagetwo, #imagefour{
  width:48%;  
   
}

#homeImages img{
 width:100%;   
    
}

#imageone p, #imagethree p, #imagetwo p, #imagefour p{
    
 position: relative;
    top:20%;
    color:#fff;
    
}




/********** INTRO ***********/

    .section100 {
        
    margin-top:100px;   
    
}

    #intro {
    
   color: #777777;
    font-size: 22px;
    font-style: italic;
    margin-top:0;
    margin-bottom:50px;
        margin-left: auto;
        margin-right: auto;
    text-align: center;
    width: 65%;


}




/**********  end INTRO ***********/

    .section50 {
        margin-top:50px;   
    
}

    .section10 {
        margin-top:10px;   
    
}

.section25{
    
     margin-top:25px;   
      
}

.section170{
padding-top:230px;   
    
}


h2{
    Color:#00a6d2;
    font-size: 22px;
    padding: 0px;
    margin:0px;
    font-weight: 700; 
    
}


hr{
margin-top:10px;
margin-bottom:10px;   
border-top:2px solid #eee;
    
}

.grey{
    
  color: #777777;
    font-size: 13px;
    text-transform: uppercase;
    
}
.subhead{
    
 font-size: 15px;
    font-style: italic;
    font-weight:400;
}


.explainerText{
 font-size:16px;   
 font-weight:400;
    line-height: 1.5;
    margin-top:15px;
    
}
/********** secondary MENU ***********/


    #secondarymenu{
        
    height:355px;
    width:100%;
    margin:0 auto;

}

    .visuals{
    background-color: #999999;
    height: 240px;
    margin-bottom: 4%;
    width: 43%;
    }


    .left{
     margin-left: 5%;
    float:left;
    }


    .right{
     margin-right: 5%;  
     float:right;  
        
    }


/*********************** close secondary MENU ***************/







/********** FOOTER ***********/


footer{
 margin-top: 75px;
 margin-bottom: 0px;
    padding-bottom:10px;
       padding-top:10px;
    background-color:#000;
    
}


footer img{
  
  float:left;
}

footer p{
 float:right; 
  color:#fff;
    margin-top:40px;
  
}

footer a{
    
 color:#00a6d2;   
}

footer a:hover{
   color:#fff; 
 text-decoration: none;
    
}

/********** CLOSE FOOTER ***********/








#share {
    height: 48px;
    position: relative;
}

#logo {
    display: inline-block;
}

#smallLogo {
    display: none;
}
#shareMaster {
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #cccccc;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    display: inline !important;
    float: right;
    height: 48px;
    opacity: 1;
    padding-left: 20px;
    width: 70px;
}
.circle {
    background-color: #cccccc;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    color: #ffffff;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin-right: 5px;
    margin-top: 10px;
    text-align: center;
    width: 25px;
}
.circle:hover {
    background-color: #0096d2;
}
#socials a {
    color: #ffffff;
}
#socials a:hover {
    color: #0096d2;
}
#socials {
    color: #ffffff;
    float: right;
    opacity: 0;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
}
#share:hover #shareMaster {
    opacity: 0.5;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
}
#share:hover #socials {
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
}
.navbar-default {
    background-color: #ffffff;
}






/*Container for all figures*/
.figure-container{
  display: block;
  overflow: auto;
}

/*Styles for source annotations*/
.map-source, .plot-source{
  font: 9pt Lato;
  position: relative;
  float: right;
  font-weight: 400;
  color:#555;
}

.map-source{
  bottom: 25px;
  right: 10%;
  width: 34%;
}

.plot-source{
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
}

.label{
     font-size: 12px;
    font-weight: 400;   
    
}

/*data download button */
.download a{
     background-attachment: scroll;
    background-clip: border-box;
    background-color: #00a6d2;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    font-weight: 500;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    text-align: center;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
    width: 155px;
}


.download :hover {
  background: #00578b;
  text-decoration: none;
}

.download a{
 color:#fff;  
      text-decoration: none;
}

.download {
margin-top:20px;
    
    
}


/*Tooltips for both figure types*/

.tooltip-container {
  height: 80px;
    margin-bottom: 13px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-bottom: 0;}


.tooltip-container.scatter{
	margin-bottom: 15px;
}
.tooltip-title{
	font-family: Lato;
	font-size: 13px;
	color: #666666;
	font-weight: 300;
}
.tooltip-data{
	font-family: Lato;
	font-size: 20pt;
	color: #29abe2;
	font-weight: 400;
}

.tooltip-usa-average{

   color: #555555;
    font-size: 13px;
    margin-top: 13px;

}
.region-text, .value-text, .quarter-text{
	float: left;
	margin-right: 30px;
}

.value-text.y{
	margin-right: 0px !important;
}
.year-text{
	float: left;
}

.hidden{
	display: none;
} 

/******** Scatter Plot styles *********/
.plot-legend{
	position: relative;
	width:100%;
	height: 50px;
	top: 50px;
	font: 10pt Lato;
}

.South{ fill: #8a8a8a;}
.Northeast{ fill: #00a6d2;}
.Midwest{ fill:  #ec008c;}
.West{ fill: #00578b;}
.USA{ fill: #000000;}

.dot-line{
  stroke: #b3b3b3;
  shape-rendering: crispEdges;
}

.x.axis.scatter path{
	display: none;
}
.scatter-baseline{
	stroke: #000;
  	shape-rendering: crispEdges;
}

.scatter-grid{
	stroke: #b3b3b3 !important;
}

.plot-container{
 margin-top:20px;   
    
}

/******** Map styles *********/

/*title*/
[id^=usa-text]{
	padding: 2px;
}

.text-highlight{
	background: #fdbf11;
}

.title-subtitle{
	font: 14px;
	font-style: italic;
	font-weight: 400;
	margin-top: 10px;

}

.title-text{
	margin-top: 15px;
	font: 18px Lato;
	font-weight: 700;
}
.title-unit{
	font: 14px Lato;
	font-weight: 300;
    padding-left:10px;
    
}

/*Map graphic containers*/
.map-container{
	width: 80%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height:auto;
}


/*Map Legend*/
.legend-labels{
	font-family: 'Lato';	
	font-weight: 700;
	font-size: 12px;
}

/*Map*/

#map-states{
    
 width:90%;   
}

.counties {
  fill: none;
}

.hover, .click{
	fill: #fdbf11 !important;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.demphasized{
	fill: #dcdcdc !important;
}

.q0-4 { fill:#b0d5f1; }
.q1-4 { fill:#82c4e9; }
.q2-4 { fill:#1696d2; }
.q3-4 { fill:#00578b; }
.q4-4 { fill:#061b5a; }

.states.no-data{ fill: #e6e7e8;}

/*Bar Chart*/
.usa-bar{
	fill: #c6c6c6;
   /*fill: #fdbf11;*/
}

.usa-bar:hover {
fill:  #fdbf11; 
    
}
.usa-tick{
	font-weight: 800;
}
rect.states{
	stroke: none;
}

.axis {
  font: 10px Lato;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.nullTick{
	fill: #e6e7e8;
}

.y.axis path {
  display: none;
}

.grid-line{
	stroke: #cccccc;
}



@media (max-width: 768px) {

#fullLogo {
    display: none;
}
#smallLogo {
    display: inline-block;
}
    
    #header{
 position:absolute;
    }
      
    #menu{
    position: fixed;
     bottom:0px;
    height:55px;
    }
    
  #menu ul{
   height: 55px;   
      
  }
    
#menu ul li{
    
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    padding-top:20px;
     padding-bottom: 30px;
width:20%;
}
    
    .active{
     border-bottom: none;
     border-top: solid #00a6d2 4px;
        
    }
    
    
 /*in mobile the extra padding above the page title is not needed */   
.section170{
padding-top:180px;   
    
}

.map-container{
	width: 100%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height:auto;
}
  
    
.slide {
     transition: none;
}

.slide--reset {
     transform:none;
}

.slide--up {
   transform:none;
}

.animated {
     animation-duration: 0.5s;
     animation-fill-mode: both;
}

    

}

