<!DOCTYPE html>
<html lang="en">
  <head>

    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/sem.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:100,200,300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  </head>
  <body class="pdf_template">


       <!-- Navigation
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="topNav">
        <div class="container">



                <div id="share">
                    <div id="logo"><a href="http://www.urban.org" target="_blank"><img id="fullLogo" src="../static/images/logo-01.png" alt="The Urban Institute" /><img id="smallLogo" src="../static/images/logo-03.png" alt="The Urban Institute" /></a>
                </div>
                    <div id="shareMaster">
                        <div id="shareCircle" class="circle">
                            <i class="fa fa-share"></i>
                        </div>
                    </div>
                    <div id="socials">
                        <a href="#"target="_blank">
                            <div id="twitter" class="circle">
                                <i class="fa fa-twitter"></i>
                            </div>
                        </a>
                         <a href="#"target="_blank">
                            <div id="facebook" class="circle">
                                <i class="fa fa-facebook"></i>
                            </div>
                        </a>
                        <a href="#"target="_blank">
                            <div id="email" class="circle">
                                <i class="fa fa-envelope"></i>
                            </div>
                        </a>
                    </div>
                </div><!-- share -->


       <!-- </div> -->
        <!-- /.container -->
  <!--   </nav>-->




             <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="topNav">
        <div class="container">



                <div id="share">
                  <!--  <div id="logo"><a href="http://www.urban.org" target="_blank"><img id="fullLogo" src="../static/images/logo-01.png" alt="The Urban Institute" /><img id="smallLogo" src="../static/images/logo-03.png" alt="The Urban Institute" /></a>
                </div>-->
                    <div id="logo"><a href="http://www.urban.org" target="_blank"><img src="../../static/images/logo-03.png" alt="The Urban Institute" /></a></div>
                    <div id="sem"><h1><a href="http://datatools.urban.org/features/state-economic-monitor/">State Economic Monitor</a></h1></div>
                </div><!-- share -->


        </div>
        <!-- /.container -->
    </nav>






    <section class="section170">

                 <div class="container">


                      <h2>Employment</h2>
                     
  <div class="introSectionText">
Breaking down state data on unemployment rates, total (nonfarm) payroll employment, and government employment.<br></div>


            </div><!--close container -->
      <!--close section -->



      <section class="section25">

              <div class="container">
                 <div id = "figure_unemployment" >
                  <img src = "../images/figure_unemployment.png"/>
                 </div>



                            <div class="explainerText">  <p>The national unemployment rate was 5.1 percent in August 2015. West Virginia’s unemployment rate was 7.6 percent, a 0.1 percentage point increase from July and significantly above its 5.9 percent rate in January 2015. It remained the only state with an unemployment rate above 7.0 percent. The next-highest unemployment rates were in the District of Columbia and Nevada (both 6.8 percent), New Mexico (6.7 percent), and Alaska (6.6 percent). Conversely, two states had an unemployment rate below 3.0 percent in August: Nebraska (2.8 percent) and North Dakota (2.9 percent). Another six states had an unemployment rate below 4.0 percent: Hawaii (3.5 percent), New Hampshire and Vermont (both 3.6 percent), and Iowa, South Dakota, and Utah (all 3.7 percent).</p>
                                 </div><!--close expalinerText -->


         

              </div><!--close container -->


      <!--close section -->





      

                 <div class="container">

                           <div id = "figure_level_vs_change_unemployment" >
                            <img src = "../images/figure_level_vs_change_unemployment.png"/>
                           </div>

                            <div class="explainerText"><p>The national unemployment rate fell 0.8 percentage points between May 2014 and May 2015. The largest unemployment rate decline over the year was in Rhode Island (-2.0 points). Twelve other states saw the unemployment rate drop by a point or more, with the biggest drops in Michigan (-1.8 points), Oregon (-1.7 points), and Kentucky (-1.6 points). California, Georgia, and Mississippi saw unemployment fall 1 point or more but still had May unemployment rates above 6 percent. Five states had unemployment increases over the year: Louisiana (0.7 points), South Carolina (0.6 points), West Virginia (0.5 points), and North Dakota and South Dakota (both 0.4 points). The May unemployment rate was below 4 percent in the Dakotas but 6.6 percent or higher in the other three poor-performing states.

 </p>         </div><!--close expalinerText -->

         

   </div><!--close container -->


      <!--close section -->





            

                 <div class="container">

                            <div id = "figure_nonfarm-employment">
                            <img src = "../images/figure_nonfarm-employment.png"/>

                            </div>

                            <div class="explainerText"><p>Total national (public and private) nonfarm payroll employment increased 2.2 percent from May 2014 to May 2015. Total employment increased in all but one state. The largest increase in employment was in Utah (3.9 percent). Employment grew 3 percent or more over the past 12 months in six additional states: Washington (3.6 percent); Florida, Nevada, and Idaho (all 3.4 percent); Oregon (3.1 percent); and California (3.0 percent). The states with the smallest increases in employment were Wyoming (0.1 percent), Kansas (0.5 percent), and Nebraska and Louisiana (both 0.6 percent). West Virginia, the only state without an employment increase, saw total employment fall 2.1 percent over the past 12 months. The relative decline was in part caused by temporary government employment last May (see next section).</p>
                            </div><!--close expalinerText -->

         
   </div><!--close container -->



      <!--close section -->



            

                 <div class="container">

                          <div id = "total_change_emp_vs_public_change_emp">
                            <img src = "../images/total_change_emp_vs_public_change_emp.png"/>

                          </div>
                            <div class="explainerText">
                                <p>Total public-sector employment increased 0.5 percent from May 2014 to May 2015. Public-sector employment increased 2 percent or more in Massachusetts (2.5 percent) and Washington (2.0 percent). Public-sector employment increased more than 1 percent in 13 additional states. In four of these states—Massachusetts, Mississippi, Nebraska, and North Dakota—the increase in public employment was greater than the increase in total employment. Public-sector employment declined in 15 states and was unchanged in New York, Nevada, and Tennessee. The largest decline was in West Virginia (-6.6 percent), where election-related employment temporarily spiked public employment in May 2014. Three other states had public employment drops larger than 1 percent:  Louisiana (-1.8 percent), Montana (-1.2 percent), and Hawaii (-1.0 percent).

</p>


                            </div><!--close expalinerText -->


                      
                      <div class = "plot-source custom-note">Note: The unemployment rate is from a US Bureau of Labor Statistics survey based on place of residence. The employment data are from a US Bureau of Labor Statistics survey based on place of work. All data are seasonally adjusted.</div>




   </div><!--close container -->


      <!--close section -->



     
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->







  </body>
</html>



