.widthTester{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 0px;
	width: 0px;
}
.menuSpacer, .mobileMenuArrow, #mobileHiglightsTitle, #mobileStates, #menu-mobile-close{
	display: none;
}
@media(max-width: 1200px){
	.widthTester.w1200{
		display: block;
	}
	#barChartScreen, #chartTitleContainer, #lineChartContainer, #chartButtonContainer,#menuRow,#sectionNames{
		margin-left: 10px;
	}
	#footerContentContainer {
    	width: calc(100% - 40px);
    	margin-left: 20px;
    }

}
@media(max-width: 1085px){
	.widthTester.w1085{
		display: block;
	}
	#mapContainer{
		left: -40px;
    	position: relative;
    }
    #multiYearContainer{
    	margin-left: 40px;
    }
    #multiYearContainer.active{
    	margin-left: 0px;
    }
	.menuSpacer{
		position: absolute;
	}
	#barChartScreen, #chartTitleContainer, #lineChartContainer, #chartButtonContainer,#menuRow,#sectionNames{
		margin-left: 20px;
	}

	#mt-employment, .menuTop{
		width: 192px;
	}
	.categoryMenu .menuActive, .menuActive.timeRange{
	    width: 160px;
	    overflow: hidden;
	    height: 24px;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.stateMenu.menuBlock {
    	left: 219px;
    	z-index: 2;
	}
	.timeMenu.menuBlock {
		left: 413px;
    	z-index: 1;
	}
	.timeMenu .menuTop{
		margin-left: 117px;
    	width: 198px;
	}
	.calendarParent{
		right: auto;
		left: 160px;
	}
	.clearSelections.outside, #hideUS {
    	left: 235px;
    }
    .menuSpacer{
	    display: block;
	    position: absolute;
	    height: 58px;
	    background: #fff;
	    z-index: 3;
	    border: 1px solid #fff;
	    top: 0px;

    }
    .menuSpacer.ms1{
	    left: 200px;
	    width: 18px;
    }
    .menuSpacer.ms2{
    	left: 510px;
    	width: 29px;
    }
    .mobileMenuArrow{
		position: absolute;
		display: block;
		z-index: 3;
		left: 379px;
		top: 1px;
		background: #fff;
		height: 58px;
		width: 130px;
		cursor: pointer;
    }
    .mobileMenuArrow img{
	    top: 21px;
	    right: 24px;
    }
	.timeTypeContainer {
    	margin-top: 10px;
    }
    .sectionName{
    	margin-right: 43px;
    }
    #chartTitle {
    	font-size: 21px;
    }
}
@media(max-width: 900px){
	.widthTester.w900{
		display: block;
	}
	#mapContainer{
		left: -90px;
    }
}
@media(max-width: 780px){
	.calendarParent{
		left: 150px;
	}
}
@media(max-width: 768px){
	.widthTester.w768{
		display: block;
	}
	#footerContainer{
		width: 100%;
		margin: 0 auto;
	}
	#footerContent {
		width: calc(100% - 80px);
    	left: 40px;
	}
	#topFooterHeader {
		padding-top: 0px;
	}

	#contentContainer.aboutContainer{
		width: calc(100% - 40px);
		margin-left: 20px;
	}
	#headerContainer {
    	height: 47px;
    }
	#headerTitle{
	    font-size: 12px;
	    font-weight: 500;
	    position: absolute;
	    top: 16px;
	    left: 51px;
	}
	#headerLogo {
	    height: 30px;
	    top: 8px;
	    left: 10px;
	    position: absolute;
	}
	#headerLogo img{
		height: 30px;
	}
	#headerTwitter img{
	    top: 14px;
	}

	#headerEmail img{
	    top: 15px;
	}
	#headerFacebook img{
	    top: 14px;
	}
	#lastUpdatedContainer{
	    position: absolute;
	    top: 381px;
	    width: 100px;
	    left: 10px;
	    font-size: 12px;
	    font-style: italic;
	    z-index: 102;
	    color: #fff;
	}
	#mobileHiglightsTitle{
		display: block;
		position: absolute;
		width: 100%;
		text-align: center;
		top: 63px;
		text-transform: uppercase;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		color: #fff;
	}
	#cardContainer{
		border-top: 50px solid #062635
	}
	#cardCurrentContainer{
		display: none;
	}
	#cardSubcontainer{
		width: 100%;
	}
	.cardArrow{
		width: 45px;
	}
	.cardArrow img {
    	width: 26px;
    	top: 242px;
	}

	.bar.x.axis .tick, .barTooltip, .barTooltipBg{
		display: none;
	}
	#mapContainer {
 	   left: 20px;
 	   top: -20px;
 	   margin-left: 0px;
	}
	.singleYear.tooltip{
		display: none;
	}
	.shareTooltip {
	    top: 11px;
	    left: -10px;
	    position: absolute;
	    width: 260px;
	    bottom: 160px;
	    top: auto;
	}
	.shareTooltip .shareText {
    	border: 1px solid #d2d2d2;
    	width: 140px;
    }
	#chartButtonContainer{
		width: calc(100% - 40px);
    	white-space: normal;
    	margin-left: 0px;
	}
	#sectionNames{
		margin-top: -40px;
		margin: 0 auto;
		position: relative;
		top: -84px;
		border-top: 50px solid #062635;
		z-index: 90;
	}
	.sectionName{
	    width: 100%;
	    border-bottom: 1px solid #d2d2d2;
	    padding-bottom: 10px;
	    padding-top: 10px;
	    font-size: 22px;
	    text-align: center;
	    margin: 0 auto;
	    display: block;
	}
	.cardDownArrow{
		width: 100%;
		left: 0px;
		background: transparent;
    	height: 50px;
    	z-index: 101;
	}
	.cardDownArrow img {
    	width: 60px;
    	left: calc(50% - 30px);
	}
	#contentContainer{
		margin-top: 84px;
	}
	.menuSpacer, .mobileMenuArrow{
		display: none;
	}
	.menuBlock{
		margin: 0 auto;
		width: calc(100% - 80px);
	}
	.menuBlock{
		left: 0px !important;	
	}
	.menuBlock.fullScreen{
		left: 0px !important;
	}
	#unitCheckboxes, #hideUS, .clearSelections.outside{
		left: 17px !important;	
	}
	.categoryMenu.menuBlock {
	    width: calc(100% - 80px);
	    top: -90px;
	}
	.menuTop.open{
		max-width: 300px;
		margin: 0 auto;
		padding-left: 30px;
		margin-top: 20px;
	}
	.employmentOption, #stateNameContainer, #barControlMenus, .timeMenuLabel.month, .timeMenu.menuBlock.fullScreen{
		width: 300px;
    	margin: 0 auto;
	}
	#barControlContainer{
		clear: both;
	}
	.timeMenuLabel.month{
		margin-bottom: 10px;
		margin-left: 0px;
	}
	.timeTypeContainer{
		float: left !important;
		margin-bottom: 20px;
	}
	.timeTypeContainer.bar{
		margin-right: 10px;
		margin-left: 0px !important;
	}
	#unitCheckboxes {
    	top: -27px;
  		left: 16px;
    }
	.stateMenu.menuBlock {
		left: 0px;
		margin-left: 0px;
		z-index: 2;
		display: block;
		top: 44px;
	}
	.timeMenu.menuBlock{
		left: 0px;
	}
	#mt-employment, .menuTop {
	    width: 100%;
	}
	.timeMenu.menuBlock{
		top: 176px
	}
	.timeMenu .menuTop {
	    margin-left: auto;
	    width: 100%;
	}
	#hideUs {
    	top: 112px;
    }
	.clearSelections.outside {
    	top: 131px;
    }
	.clearSelections.outside, #hideUS {
    	left: 17px;
	}

	#chartAreaContainer{
		margin-top: 125px;
	}
	#chartUnits{
	    display: block;
    	margin-left: 0px;
	    margin-top: 8px;
	    white-space: pre-wrap;

    }
    #chartTitleContainer{
    	width: calc(100% - 40px);
    }
    #chartTitle{
    	white-space: normal;
    }
    #chartFrame{
    	/*display: none;*/
    }
    .menuBlock.fullScreen{
	    position: fixed;
	    z-index: 10000;
	    top: 0px;
	    left: 0px;
	    border: none;
	    height: 100%;
	    width: 100%;
	    overflow: scroll;
	    max-width: unset;
    }
    svg{
    	pointer-events: none;
    }
	.multiYear.tooltip {
	    position: absolute;
	    right: 30px;
	    top: 282px;
	    text-align: right;
	    opacity: 0;
	    left: 0px;
	    right: auto;
	    text-align: left;
    }
    .multiYear.tt-top-row.mouseover, .multiYear.tt-value.hide, .multiYear.tt-states, .multiYear.tt-indicator, .multiYear.tt-date.range{
    	display: none;
    }
    .chartButton {
	    display: inline-block;
	    margin-right: 0px;
	    margin-bottom: 20px;
	    display: block;
	    text-align: center;
	    max-width: 200px;
    }
    .popupMenu{
    	z-index: 1000 !important;
    	top: 0px !important;
    	left: 0px !important;
    	width: calc(100% - 40px) !important;
    	padding-left: 20px !important;
    	padding-right: 20px !important;
    }
	.pu-bigButton.dataDownload.shortScreen, .pu-bigButton.dataDownloadCurrent.shortScreen {
	    position: relative;
	    bottom: 0px;
	    right: 60px;
	    float: right;
	    left: 0px;
	    right: auto;
	    float: left;
	}
	.pu-bigButton.dataDownload.shortScreen{
		left: -111px;
	}
	.pu-smallButton.employmentButton {
	    padding: 7px;
	    font-size: 12px;
	    text-align: center;
	    width: 159px;
	}
	.popupMenu{
	    width: 300px !important;
	    padding-left: calc(50% - 150px) !important;
	    padding-right: calc(50% - 150px) !important;
	}
	.pu-allSections{
		width: 200px;
	}
	.ii-1 {
    	left: calc(50% - 111px);
    	margin-top: 20px;
    }
	.ii-2 {
    	left: calc(50% - 85px);
    	margin-top: 27px;
    }
	.ii-3 {
    	left: calc(50% - 62px);
    	margin-top: 27px;
    }
	#footerBigLinks {
	    display: inline-block;
	    top: -32px;
	    left: -10px;
	    position: relative;
	    float: left;
	    display: block;
	    clear: both;
	}
	#bigLogoContainer {
    	display: block;
    	margin-bottom: 60px;
    	margin-top: -32px;
    }
    #footerBottomRow{
    	left: -180px;
    	position: relative;

    }
    .calendarParent{
	    z-index: 10000;
	    top: 0px !important;
	    left: 0px;
	    position: fixed;
	    width: 100%;
	    height: 100%;
    }
    .calendarArrow.right {
	    margin-left: 10px;
	    position: fixed;
	    top: 280px;
	    right: 10px;
	}
    .calendarArrow.left {
	    margin-left: 10px;
	    position: fixed;
	    top: 280px;
	    left: 0px;
	}
	.calendarFrame{
		margin-left: 60px;
	}
	.calYearLabel{
		width: 90px;
    	height: 40px;
    	font-size: 26px !important;
	}
	#mobileStates{
		display: block;
    	margin-bottom: 60px;
    	margin-top: -30px;

	}
	#mobileStateHeader{
	    font-size: 21px;
	    font-weight: bold;
	}
	#mobileStateDate, #mobileStateIndicator{
		text-transform: uppercase;
		font-size: 12px;
		display: inline-block;
	}
	.mobileState{
    font-size: 16px;
    margin-top: 4px;
    color: #1696d2;
    font-weight: bold;
    border-bottom: 3px solid #fdbf11;
    width: fit-content;
    color: black;
    padding-bottom: 3px;
	}
	.mobileState_US{
		display: none;
	}

	.stateShape.clicked{
	  fill: #fdbf11 !important;
	  stroke: none !important;
	}

	rect.bar.clicked{
	  fill: #fdbf11 !important;
	  stroke: #fdbf11 !important;
	  outline-color: transparent !important;
	}
	.pu-checkText {
	    font-size: 16px;
	    color: #353535;
	    display: inline-block;
	    position: relative;
		width: 230px;
	    top: 6px;
	}
	.pu-buttonRow .pu-smallButton {
	    display: block;
	    margin-right: 20px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	    text-align: center;
	    max-width: 200px;
	}
}
@media(max-width: 590px){
	.menuBlock, #unitCheckboxes, #hideUS, .clearSelections.outside{
		left: auto !important;
	}
	 #unitCheckboxes, #hideUS, .clearSelections.outside{
	 	left: 16px !important;
	 }
	.menuBlock.fullScreen{
		left: 0px !important;
	}
}
@media(max-width: 560px){
	.calendarFrame{
		width: 310px;
	}
	.calDoneButton{
		margin-left: 270px;
	}
}
@media(max-width: 500px){
	.widthTester.w500{
		display: block;
	}
	#bigLogoContainer img {
	    width: 100%;
	}
	.pu-bigButton.dataDownload.shortScreen {
	    left: 0px;
	    top: -67px;
	    clear: both;
	}

	.pu-bigButton.imgDownload {
	    float: left;
	}

	.pu-buttonRow{
		margin-bottom: 60px;
	}
	.popupMenu.saveImage{
	    width: 300px !important;
	    padding-left: calc(50% - 150px) !important;
	    padding-right: calc(50% - 150px) !important;
	}



.tt-change{
    top: -158px;
    left: 154px;
    width: 104px;
}
.tt-raw{
	left: -30px;
    top: -86px;
    width: 170px;
}

.tt-unit:after, .tt-unit:before {
	top: 100%;
	left: 50%;
	right: auto;
	margin-top: auto;
}

.tt-unit:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 11px;
    margin-left: -11px;
}
.tt-unit:before {
    border-color: rgba(172, 213, 278, 0);
    border-top-color: #acd9ee;
    border-width: 14px;
    margin-left: -14px;
}
}
@media(max-width: 400px){
	.widthTester.w400{
		display: block;
	}
	.menuTop.open {
	    width: calc(100% - 30px) !important;
	    padding-left: 0px;
	}
	.employmentOption, #stateNameContainer, #barControlMenus {
	    width: calc(100% - 30px);
	    max-width: 300px;
	    position: relative;
	    left: -14px;
    }
    .ui-selectmenu-button.ui-button, .lineMenuDisplay{
    	width: 286px;
    }
    .calendarFrame{
    	width: 150px;
    }
    .calDoneButton{
		margin-left: 56px;
    	margin-top: 76px;
    }
}
@media(max-width: 387px){
	    #footerBottomRow{
    	left: 10px;
    	display: inline-block;

    }
}