body{
	font: 12pt Lato;
	background: #c6c6c6;
}

h2{
	font-size: 14pt;
	clear: both;
}

fieldset{
  min-width: 250px;
  width: 250px;
  border: none;
  /*float: left;*/
  padding: 0;
  padding-left: 15px;
}
.ellipses{
	float: left;
	position: relative;
	top: -2px;
}
#upload_left{
	float: left
}
#upload_right{
	float: left;
}



/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
.tab-links{
    margin-bottom: 0;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#b0d5f1;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            text-decoration: none;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
        text-decoration: none;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        /*border-radius:3px;*/
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
            overflow: auto;
        }