body{
	font: 12pt Lato;
	background: #c6c6c6;
}
*:focus{
    outline: 0;
}
h2{
	    margin-top: 15px;
    font: 22px Lato;
    font-weight: 700;
	clear: both;
}
h1{
    font-size: 28px;
    padding: 0px;
    margin: 0px;
    font-weight: 300;
    text-align: left;
    text-transform: uppercase;
    color: #1696d2;
}

fieldset{
  min-width: 250px;
  width: 250px;
  border: none;
  /*float: left;*/
  padding: 0;
  padding-left: 15px;
}
.ellipses{
	float: left;
	position: relative;
	top: -2px;
}
#upload_left{
	float: left
}
#upload_right{
	float: left;
}

.required{
	color: red;
	font-weight: 700;
}
.month{
	width: 40px;
}
.year{
	width: 80px;
	margin-left: 5px;
}
textarea{
	margin-top: 5px;
}
.break{
	width: 40px;
	margin-left: 5px;
}


#loading{
    width: 40px;
    height: 40px;
    position: relative;
    top: 36px;
    margin-left: calc(50% - 146px);
    visibility: hidden;
}
#loading-text{
    clear: both;
    display: run-in;
    top: 66px;
    position: relative;
    width: 320px;
    margin-left: calc(50% - 100px);
}
.note{
    margin-top: 4px;
    font-size: 12px;
    font-style: italic;
    margin-bottom: -20px;
}

#addIngredient{
    color: white;
    text-decoration: none;
    position: absolute;
    margin-left: calc(50% - 75px);
    margin-top: 18px;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #00a6d2;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    font-weight: 500;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    text-align: center;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
    width: 150px;
}

#addIngredient:hover{
    background: #00578b;
}

.explainer{
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: 10px;
    text-indent: 50px;
    line-height: 2em;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}
.explainer a{
    text-decoration: none;
    color: #1696d2;
    font-weight: bolder;
}

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
.tab-links{
    margin-bottom: 0;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#cfe8f3;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            text-decoration: none;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#a2d4ec;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
        text-decoration: none;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        min-height: 90%;
        padding:15px;
        /*border-radius:3px;*/
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
            overflow: auto;
        }