<html>
<head>
  <style>
  .ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }
  </style>
</head>
<body>
<script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='jquery.ui.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}">
<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='update.css') }}">
<script type=text/javascript src="{{ url_for('static', filename='units.js') }}"></script>
<!-- <script type=text/javascript src="{{ url_for('static', filename='units.js') }}"></script> -->
<script type=text/javascript src="{{ url_for('static', filename='d3.min.js') }}"></script>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type=text/javascript>

  $(function() {
    $('a#addIngredient').bind('click', function() {
      // $.getJSON($SCRIPT_ROOT + '/add', {
      //   amount: $('input[name="amount"]').val()
      // }, function(data) {
      //   console.log(data)
      // });
      // return false;
      var test = {"foo":"bar"}
      $.ajax({
        type: 'POST',
        url: '/add',
        data: JSON.stringify(test),
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        cache: false,
        processData: false,
        success: function(data) {
            $("#employment-status")
              .text("Data file updated")
        },
      }); 

    });

    $('#upload-employment-btn').click(function() {
        var form_data = new FormData($('#upload-employment')[0]);
        $.ajax({
            type: 'POST',
            url: '/upload?sheet=employment',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                $("#employment-status")
                  .text(form_data + "Data file updated")
            },
        });
    });

    $('#upload-wages-btn').click(function() {
        var form_data = new FormData($('#upload-wages')[0]);
        $.ajax({
            type: 'POST',
            url: '/upload?sheet=wages',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            // async: false,
            success: function(data) {
                $("#wages-status")
                  .text(form_data + "Data file updated")

            },
        });
    });

    $('#upload-housing-btn').click(function() {
        var form_data = new FormData($('#upload-housing')[0]);
        $.ajax({
            type: 'POST',
            url: '/upload?sheet=housing',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                $("#housing-status")
                  .text(form_data + "Data file updated")

            },
        });
    });

    $('#upload-taxes-btn').click(function() {
        var form_data = new FormData($('#upload-taxes')[0]);
        $.ajax({
            type: 'POST',
            url: '/upload?sheet=taxes',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                $("#taxes-status")
                  .text(form_data + "Data file updated")

            },
        });
    });

    $('.tabs .tab-links a').on('click', function(e)  {
        var currentAttrValue = $(this).attr('href');
 
        // Show/Hide Tabs
        jQuery('.tabs ' + currentAttrValue).fadeIn(400).siblings().hide();
 
        // Change/remove current tab to active
        $(this).parent('li').addClass('active').siblings().removeClass('active');
 
        e.preventDefault();
    });

  });

</script>
<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">Upload Data</a></li>
        <li><a href="#tab2">Employment</a></li>
        <li><a href="#tab2">Wages</a></li>
        <li><a href="#tab2">Housing</a></li>
        <li><a href="#tab2">Taxes</a></li>
        <li><a href="#tab4">Preview</a></li>
    </ul>

<div class="tab-content">
  <div id="tab1" class="tab active">
    <h1>Upload new data files:</h1>
    <div id = "upload_left">
      <h2>Employment data file</h2>
      <form id="upload-employment" method="post" enctype="multipart/form-data">
          <fieldset>
              <input name="file" type="file">
          </fieldset>
          <fieldset>
              <button id="upload-employment-btn" type="button">Upload</button>
          </fieldset>
      </form>
      <div id ="employment-status"></div>

      <h2>Wages data file</h2>
      <form id="upload-wages" method="post" enctype="multipart/form-data">
          <fieldset>
              <input name="file" type="file">
          </fieldset>
          <fieldset>
              <button id="upload-wages-btn" type="button">Upload</button>
          </fieldset>
      </form>
      <div id ="wages-status"></div>
    </div>
    <div id = "upload_right">
      <h2>Housing data file</h2>
      <form id="upload-housing" method="post" enctype="multipart/form-data">
          <fieldset>
              <input name="file" type="file">
          </fieldset>
          <fieldset>
              <button id="upload-housing-btn" type="button">Upload</button>
          </fieldset>
      </form>
      <div id ="housing-status"></div>


      <h2>Taxes data file</h2>
      <form id="upload-taxes" method="post" enctype="multipart/form-data">
          <fieldset>
              <input name="file" type="file">
          </fieldset>
          <fieldset>
              <button id="upload-taxes-btn" type="button">Upload</button>
          </fieldset>
      </form>
      <div id ="taxes-status"></div>
    </div>
  </div>

  <div id="tab2" class="tab">
    <div id = "ingredients">
       <input type=text name="amount"></input>
      <input type=text name="unit"></input>
      <input type=text name="ingredient"></input>
    </div>
  </div>
</div>
   <a href=# id="addIngredient">Add ingredient</a>

   <ul id="ingredient-list"></ul>


</html>
</body>